* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-image: url("./images/background.jpg");
  margin: 0;
}

.principal-container {
  background-color: #be1431;
  /* display: flex; */
  justify-self: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  border-radius: 30px;
  padding: 3%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* border: 5px solid grey;
  border-radius: 15px;   */
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 35px;
  flex: 50%;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 35px;
  flex: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

input {
  border-radius: 5px;
}

button{
  border-radius: 5px;
  background-color: #be1431;
  color: white;
}

.card-content {
  height: 400px;
  width: auto;
  margin: 10%;
  background-color: beige;
  border: 2px solid grey;
  border-radius: 15px;
}

.card-img {
  height: 250px;
  width: auto;
  margin: 10%;
}
